# dependencies
node_modules/

# Next.js
.next/
out/

# build
dist/

# env files
.env
.env*.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# Vercel
.vercel
